.quote-container {
	height: 50vh;
}

/* On larger screen */
@media screen and (min-width: 992px) {
	.care-row {
		height: 75vh !important;
	}

	.po-content-container {
		width: 75% !important;
	}

	.po-col {
		position: relative;
	}

	.po-red-block {
		position: absolute;
		top: 0;
		right: 0;
		width: 25%;
		height: 100%;
	}
}
