#testimonial-widget {
	position: relative;
	border-radius: 0 !important;
	border: none !important;
	height: 100% !important;
}

#testimonial-widget > img {
	position: absolute;
	height: 100% !important;
	object-fit: cover;
	object-position: 50% 15%;
}

#testimonial-widget > .card-body {
	z-index: 1;
}

.card-img,
.card-img-overlay {
	border: none !important;
	border-radius: 0 !important;
	height: 100%;
}

.quote-icon {
	font-size: 48px;
}

.testimoni {
	background-color: rgba(0, 0, 0, 0.5);
	padding: 1rem;
	padding-top: 1.8rem;
	border-radius: 0.25rem;
}
